<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
   <bean name="sequenceGenerator" class="com.recipes.SequenceGenerator"
           p:prefix="30" p:suffix="A" p:initial="100000">
       <!--<property name="prefix">
           <value>30</value>
       </property>
       <property name="suffix">
           <value>A</value>
       </property>
       <property name="initial">
           <value>100000</value>
       </property>-->
      <!-- <constructor-arg>
           <value>30</value>
       </constructor-arg>
       <constructor-arg>
           <value>A</value>
       </constructor-arg>
       <constructor-arg>
           <value>100000</value>
       </constructor-arg>-->

       <!--<property name="prefix" value="30"></property>
       <property name="suffix" value="A"></property>
       <property name="initial" value="100000" />-->

       <!--<property name="suffixes">
           <list>
               <value>A</value>
               <bean class="java.net.URL">
                   <constructor-arg value="http"/>
                   <constructor-arg value="www.apress.com"/>
                   <constructor-arg value="/" />
               </bean>
               <null />
           </list>
       </property>-->
       <!--<property name="suffixes">
           <set>
               <value>A</value>
               <bean class="java.net.URL">
                   <constructor-arg value="http"/>
                   <constructor-arg value="www.apress.com"/>
                   <constructor-arg value="/"/>
               </bean>
               <null />
           </set>

       </property>-->
       <property name="suffixes">
          <!-- <map>
               <entry key="type" value="A" />
               <entry key="url">
                   <bean class="java.net.URL">
                       <constructor-arg value="http"/>
                       <constructor-arg value="www.apress.com" />
                       <constructor-arg value="/"/>
                   </bean>
               </entry>



           </map>-->
           <map>
               <entry key="null">
                    <value>null</value>
               </entry>
           </map>
       </property>
   </bean>
</beans>